body {
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  background-image: url(https://images.unsplash.com/photo-1521459467264-802e2ef3141f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
  
}
main {
  flex-grow: 1;
}
header {
  background-color: rgb(211, 190, 190);
  text-shadow: rgb(0, 0, 0);
  width: 100%;
  overflow: auto;
  background-image: url(https://images.unsplash.com/photo-1552761831-7ef8ec07adbd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3Jhc3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  padding: 2rem;
}

.callus {
  text-shadow:rgb(0, 0, 0)
}

.txtpadding {
  padding: .5em;
}

.txtbig {
  font-size: 2.5em;
}

.btnmargin {
margin-top: .5em;
}

.bg-main-img {
  text-shadow: 1px 1px 15px black;
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  background-image: url(https://images.unsplash.com/photo-1589883661923-6476cb0ae9f2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2F0c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.cat{
  object-fit: cover;
  max-width: 100%;
  max-height: 95%;
  padding: 1em;
}

.cardsize{
  height: 75vh;
  flex-wrap: wrap;
  position: center;
}
footer {
  text-shadow: rgb(0, 0, 0);
  width: 100%;
  overflow: auto;
  background-image: url(https://images.unsplash.com/photo-1552761831-7ef8ec07adbd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3Jhc3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  padding: 2rem;
}

.iconsize {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}